# Automatically created by $QP_ROOT/scripts/module/module_handler.py 
.ninja_deps
.ninja_log
AO_Basis
Bitmask
Electrons
Ezfio_files
IRPF90_man
IRPF90_temp
MO_Basis
Makefile
Makefile.depend
Nuclei
Pseudo
Utils
ezfio_interface.irp.f
irpf90.make
irpf90_entities
tags
test_integrals