# Automatically created by /home/scemama/quantum_package/scripts/module/module_handler.py 
IRPF90_temp
IRPF90_man
irpf90_entities
tags
irpf90.make
Makefile
Makefile.depend
.ninja_log
.ninja_deps
ezfio_interface.irp.f
Ezfio_files
Perturbation
Determinants
Utils
Integrals_Monoelec
MO_Basis
Selectors_full
Integrals_Bielec
Pseudo
Generators_full
Bitmask
AO_Basis
Electrons
MOGuess
Nuclei
Hartree_Fock
Properties
var_pt2_ratio
target_pt2
full_ci_no_skip
full_ci