.gitignore
ezfio.ml
Qptypes.ml
qptypes_generator.byte
_build
qp_basis_clean.native
qp_create_ezfio_from_xyz.native
qp_print.native
qp_run.native
qp_set_ddci.native
qp_set_mo_class.native
qp_edit.native
test_atom.byte
test_basis.byte
test_bitlist.byte
test_determinants.byte
test_elements.byte
test_excitation.byte
test_gto.byte
test_mo_label.byte
test_molecule.byte
test_point3d.byte
test_atom
test_basis
test_bitlist
test_determinants
test_elements
test_excitation
test_gto
test_mo_label
test_molecule
test_point3d
qp_basis_clean
qp_create_ezfio_from_xyz
qp_print
qp_run
qp_set_ddci
qp_set_mo_class
Input_pseudo.ml
Input_integrals_bielec.ml
Input_hartree_fock.ml
Input_perturbation.ml
Input_determinants.ml
Input_properties.ml
qp_edit.ml
qp_edit
qp_edit.native
Input_auto_generated.ml
