# Automatically created by $QP_ROOT/scripts/module/module_handler.py 
.ninja_deps
.ninja_log
AO_Basis
Bitmask
Davidson
Determinants
Electrons
Ezfio_files
Generators_restart
Hartree_Fock
IRPF90_man
IRPF90_temp
Integrals_Bielec
Integrals_Monoelec
MOGuess
MO_Basis
Makefile
Makefile.depend
Nuclei
Perturbation
Properties
Pseudo
Selectors_no_sorted
Utils
ZMQ
all_1h_1p
all_singles
ezfio_interface.irp.f
irpf90.make
irpf90_entities
tags