CAS_SD
CID
CID_SC2_selected
CID_selected
CIS
CISD
CISD_SC2_selected
CISD_selected
DDCI_selected
DensityMatrix
FCIdump
Full_CI
Generators_CAS
Generators_full
Generators_restart
Hartree_Fock
Molden
MP2
MRCC
Perturbation
Properties
QmcChem
Selectors_full
Selectors_no_sorted
SingleRefMethod
Casino
loc_cele
Alavi