OPENMP  =1
PROFILE =0
DEBUG  = 1

IRPF90_FLAGS+= --align=32
FC     = ifort -g 
FCFLAGS= 
FCFLAGS+= -xHost
#FCFLAGS+= -xAVX
FCFLAGS+= -O2 
FCFLAGS+= -ip 
FCFLAGS+= -opt-prefetch
FCFLAGS+= -ftz
MKL=-mkl=parallel 

ifeq ($(PROFILE),1)
FC    += -p -g
CXX   += -pg
endif

ifeq ($(OPENMP),1)
FC    += -openmp
CXX   += -fopenmp
endif

ifeq ($(DEBUG),1)
FC    += -C -traceback -fpe0 
FCFLAGS+= -axSSE2
IRPF90_FLAGS += -a
#FCFLAGS =-O0
endif
